h1 {
  color: red;
  font-size: 26px;
  font-family: sans-serif;
}

h2 {
  color: red;
  font-size: 26px;
  font-family: sans-serif;
}

p {
  color: aquamarine;
  font-size: 13px;
  font-family: fantasy;
}